body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; 
}
.bar{
  width: 100%;
  padding: 3px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: white;
  font-size: 0.8em;
  font-family: Tahoma;
}
.navleft a{
  font-size: 1.2em;
  color: white
}
.navright a{
color: white;
padding-right: 15px;

}
.navright i{
  font-size: 0.8em;
}
.navright img{
  height: 50px;
  position: absolute;
  top: 0;
  right:0;
  transform: rotate(28deg)
}
.bar label{
  position: absolute;
  font-size: 2em;
  color: transparent;

  

}
#toggle{
  display: none;

}

@media(max-width:640px){
  .bar{
    display: block;
    align-items: center;
  }
  .navleft{
    margin-left: 3%;
  }
  .navright{
    text-align: center;
    display: none;
    margin-left: 3%;
  }
  .navright a{
    text-align: center;

  }
  .navright a:hover{
    text-decoration: none;
  }
  .bar label{
    display: block;
    position: absolute;
    color: grey;
    top: -8px;
    right:0px;
  }

  #toggle:checked + .navright{
    display: block;
  }
  .navright img{
    display: none;
  }
}
.bar1{
  margin: 1%;
  display: flex;
  flex-basis: 25%;
  justify-content: space-around;
  align-items: center;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #18ac4f;;
}
#search_cat{
  width: 150px;
  border-style: none;
  outline-style: none;
  border: 1 px solid #18ac4f;;
}

.inputGrop{
  position: relative;
  display: flex;
  padding: 5px;
  justify-content: center;

}
.inputGrop input{
 border-style:none;
 outline-style: none;
 width: 23vh;
}

.inputGrop button{
  border: none;
  outline:0!important;
  background-color: #fff;
}
.inputGrop button i{
  color: #18ac4f;
  font-size: 1em;
  right: 0;
}
.hotline{
  padding: 0px 20px 0px 0px;
  border: 2px solid red;
  border-radius: 5px;
}
.hotline img{
  width: 34px;
  padding: 2px;
}
.hotline span{
  color: red;
  text-align: center;
  font-weight: bold;
}
.item{
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #18ac4f;
}
.item i{
  color: white;
  flex-basis: 30%;
}
.item a{
  padding: 0 10px 0 10px;
  color: white;
}
@media(max-width:640px){
  .bar1{
    display: block;
    margin: 2%;
  }
  .logo{
    width: 90%;
  }
  .input{
    width: 100%;
  }
  .inputGrop input{
    width: 60vw;
  }
  .hotline{
    width: 100%;
    margin: 2% 0 2% 0;
  }
  .item{
    width: 100%;
  }
}
.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 position: fixed;
 top: 30%;
 right: 0%;
}
.social a{
  display: flex;
  align-items: center;
}
.social a i{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
 height: 40px;
 width: 40px;
 
}
.g{
  background-color: tomato;
}
.f{
  background-color: #4267b2;
}
.t{
  background-color: #1da1f2;
}
.i{
  background-color: #EF5350;
}
@media(max-width:640px){
  .social{
    display: none;
  }
}

.hadding{
  margin: 20px 0 0px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.hadding h2{
  font-size: 20px;
}

.togglebtn {
  margin: 5px;
  cursor: pointer;
}

.hadding h2{
  font-size: 1.5em;
}
.hadding span{
  color: gray;
  font-size: 1.1em;
}

.button {
  flex-basis: 100%;
}

.button .btn{
  text-align: center;
}
@keyframes allbutton{
 from{
  transform: translate(0px,0px)
 }
 to{
  transform: translate(0%,10px)
 }
}

.slide2{
  height: 200px;
  width: 200px;
}
.pro-box{
  border: 1px solid #F5F5F5;
  text-align: center;
}
.hover-view-action{
  background: #18ac4f;;
}
.hover-view-action a i{
  color: white;
}
@media(max-width:640px){
  .hover-view-action{
   margin: 0 20% 0 20%;
  }
}
.pro-name{
  border-bottom: 2px solid #F5F5F5;
  margin: 1%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro-name a{
  color: black;
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;

}
.pro-name a:hover{
  text-decoration: none;
}
.price{
  font-weight: bold;
  color: #18ac4f;;
}
.action-box{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-weight: bold;

}
.action-box button{
  font-size: 0.88em;
  border-style: none;
  outline-style: none;
}
.add_to_cart button{
  margin-left: 2px;
}
.boder{
  border-top: 2px solid #EF5350;
  padding-top: 1.5%;
}
.carousel-item img{
  height: 350px;
}
.carousel-indicators li{
height: 10px;
width: 10px;
border-radius: 50%;
}
.nav-tabs{
  margin-bottom: 2%;
}
.mar{
  margin-top: 2%;
}
